
.am-list-item {
  min-height: 0.6rem;
  padding-left:0;
  padding-bottom: 0.3rem;
  .am-list-line {
    min-height: 0.6rem;
    padding-right: 0;
    .am-list-content {
      font-size: 0;
      flex: 0;
    }
    .am-list-extra{
      flex:6;
      font-size:0.32rem;
      padding:0;
      text-align:left;
      padding-left: 1.1rem;
      height: .7rem;
      line-height: .7rem;
      background: url(../images/user_location.png) no-repeat;
      background-size: 7%;
      background-position: .15rem .08rem;
    }
    .am-list-arrow{
      width:0.3rem;
      height:0.3rem;
    }
  }
}



.am-picker-popup-item{
  font-size: 0.34rem;
  padding: 0.18rem 0.3rem;
}

.am-picker-col {
  height: 4.76rem;
}

.am-picker-col-content {
  padding: 2.04rem 0;
}

.am-picker-col-item {
  font-size: 0.32rem;
  height: 0.68rem;
  line-height: 0.68rem;
}

.am-picker-col-item-selected {
  font-size: 0.34rem;
}

.am-picker-col-mask {
  background-size: 100% 2.04rem;
}

.am-picker-col-indicator {
  height: 0.68rem;
  top: 2.04rem;
}


/*
.am-switch .checkbox{
  width: 1.02rem;
  height: 0.62rem;
  border-radius: 0.62rem;
}

.am-switch .checkbox:before{
  left: 0.03rem;
  top: 0.03rem;
  width: 0.96rem;
  height: 0.56rem;
  border-radius: 0.56rem;
}

.am-switch .checkbox:after{
  height: 0.56rem;
  width: 0.56rem;
  border-radius: 0.56rem;
  left: 0.03rem;
  top: 0.03rem;
  box-shadow: 0.04rem 0.04rem 0.08rem rgba(0, 0, 0, 0.21);
}*/

.am-switch .checkbox {
  width: 1.02rem;
  height: 0.62rem;
  border-radius: 0.62rem;
}
.am-switch .checkbox:before {
  left: 0.03rem;
  top: 0.03rem;
  width: 0.96rem;
  height: 0.56rem;
  border-radius: 0.56rem;
}
.am-switch .checkbox:after {
  height: 0.56rem;
  width: 0.56rem;
  border-radius: 0.56rem;
  left: 0.03rem;
  top: 0.03rem;
  -webkit-transform: translateX(0rem);
  -ms-transform: translateX(0rem);
  transform: translateX(0rem);
  box-shadow: 0.04rem 0.04rem 0.08rem rgba(0, 0, 0, 0.21);
}
.am-switch input[type="checkbox"]:checked + .checkbox:after {
  -webkit-transform: translateX(0.4rem);
  -ms-transform: translateX(0.4rem);
  transform: translateX(0.4rem);
}

.am-list-body{
  border-top:0;
}
.am-list-body:after{
  border-bottom:0;
}


.am-switch input[type="checkbox"]:checked + .checkbox{
  background-color: #2BC693;
}


/*toast*/
.am-toast {
  font-size: .28rem;
}

.am-toast-notice-content .am-toast-text {
  padding: .18rem .3rem;
}
/*.am-toast-notice-content .am-toast-text.am-toast-text-icon {
  padding: 30px 30px;
}
.am-toast-notice-content .am-toast-text.am-toast-text-icon .am-toast-text-info {
  margin-top: 12px;
}
*/

















