.loan-contract {
  padding: 0 .7rem;
  .agree {
    left: .3rem;
  }
}

.loan-content {
  height: 100%;
  .detail-list{
    min-height: 3.5rem;
    margin-bottom:.2rem;
  }
  footer{
    position: static;
    padding:.2rem .3rem .3rem;
    background-color: #EFEFF4;
  }

  .am-table{
    height: 2.6rem;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .error-message{
    padding: .2rem 0 .4rem .2rem;
    color: #fa4548;
    font-size: .30rem;
  }
  
  .crf-swipes-title{
    text-align: left;
    padding-left: .3rem;
  }
  .crf-swipes{
    padding: .2rem 0 0;
  }
  .crf-swipes-title{
    font-size: .36rem;
  }
  .crf-swipes-amount-text{
    font-size: .72rem;
  }

  .crf-swipes-amount{
    transform: translate(-48%, 0);
  }

  .crf-swipes-axis{
    .crf-swipes-axis-inner{
      background: url(../images/loan-axis.png) no-repeat;
      background-size: 100%;
      height:1.2rem;
    }
  }

  .crf-rulers{
    padding-top:.8rem;
  }

  .crf-swipes-content{
    height:1.18rem;
  }

  .crf-swipes-rulers{
    z-index: 3;
    height:100%;
  }

  .disabled{
    background-color: #96AAC1;
  }
}

.detail-list{
  background-color: #fff;
}

.font-bold{
  .am-list-extra{
    font-size: .36rem;
    font-weight: bold;
  }
}

.result-content{
  .loan-text-color{
    .am-steps-item.am-steps-status-finish,.am-steps-item.am-steps-status-process{
      .am-steps-title{
        color:#646464;
      }
    }
  }
}

.loan-amount-rulers{
  .crf-ruler{
    width:18px;
    margin-top: 46px;
    span{
      position: absolute;
      top: -22px;
      left: -9px;
      font-size: 12px;
    }
  }

  .crf-ruler:nth-of-type(5n):before, .crf-ruler:first-child:before{
    height: 11px;
    width: 1px;
    opacity: 1;
    background-color: #646464;
  }
}

.loan-swipes-content{
  .crf-swipes-axis{
    z-index: 4;
  }
}

.amount-swipes{
  position: absolute;
  .crf-ruler{
    span{
      left:-5px;
    }
  }
  .crf-ruler:before{
    left:8.5px;
  }
}
.day-swipes{
  position: absolute;
  .crf-ruler{
    margin-top:24px;
    .first-day{
      position: absolute;
      top: -25px;
      left: -5px;
      font-size: 12px;
      width: 24px;
    }
    .under-line{
      position: absolute;
      bottom: -20px;
      left: 0;
    }
    .under-line:before{
      content: "";
      position: absolute;
      height: 15px;
      width: 1px;
      bottom: -4px;
      left: 4px;
      background-color: #666;
    }
  }
  .crf-ruler:before{
    bottom: 4px;
    background-color: #646464;
    opacity: .3;
  }
  .crf-ruler:nth-of-type(5n):before, .crf-ruler:first-child:before{
    height: 14px;
    width: 1px;
    bottom: 0;
    background-color: #646464;
  }

}


.loan-detail-list{
  .am-table th, .am-table td{
    padding:.1rem 0;
  }
  .am-table th:first-child, .am-table td:first-child{
    text-align: left;
    padding:.1rem 0;
  }
}

.loan-ruler-day{
  height: inherit;
}



.adaptTable{
  .loan-detail-list{
    .am-table th, .am-table td{
      width:20%;
    }
  }
}
