.root {
  position: relative;
  width: 89%;
  height: 30%;
  margin: 30px auto 10px;
  color: #fff;
  font-size: .28rem;
  background: url(../../../images/credit-bg.png) no-repeat;
  background-size: 100%;
}

.remain,
.total {
  position: absolute;
}
.remain {
  top: 35%;
  left: .3rem;
  .title {
    opacity: .6;
  }
  .amount {
    font-size: .6rem;
  }
}

.total {
  top: 52%;
  right: .3rem;
}
